langchain==0.1.0
pymupdf==1.23.8
lxml==4.9.3
fastapi==0.68.1
uvicorn==0.15.0
python-multipart==0.0.5
pymilvus==2.3.3
sentence-transformers==2.2.2
streamlit==1.22.0
requests==2.26.0
pandas>=2.2.0
python-docx==0.8.11
markdown==3.3.7
Pillow==9.0.0
pytesseract==0.3.10 